Repository bartytime4life/World-Discovery-Engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-eng-leads, @wde-maintainers, @cv-ml-leads, @geo-ml-leads, @ethics-safety-leads, @ml-research-leads, @docs-leads, @notebooks-leads, @devops-leads

Add CODEOWNERS gate workflow for PR reviews
  .github/codeowners_gate.yml
Owners: @devops-leads, @wde-maintainers

Add artifact manifest check workflow
  .github/artifact_manifest_check.yml
Owners: @devops-leads, @wde-maintainers

Upgrade Makefile with enhanced instructions and targets
  Makefile
Owners: @devops-leads, @wde-maintainers

Refactor candidate report generation and documentation
  world_engine/report.py
Owners: @ethics-safety-leads, @docs-leads, @wde-maintainers

Enhance WDE CLI with new features and fixes
  world_engine/cli.py
Owners: none

Enhance report generation with ethics and artifacts
  world_engine/report.py
Owners: @ethics-safety-leads, @docs-leads, @wde-maintainers

Revise and expand WDE Code of Conduct
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.mdd
Owners: none

Enhance CITATION.cff with detailed citation information
  CITATION.cff
Owners: none

Revise CHANGELOG.md with new project updates
  CHANGELOG.md
Owners: none

Enhance pre-commit configuration with new hooks
  .pre-commit-config.yaml
Owners: none

Rename CODE_OF_CONDUCT.mdd to CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: none

Enhance .gitignore for Python and geospatial projects
  .gitignore
Owners: none

Update .git-blame-ignore-revs with guidelines and examples
  .git-blame-ignore-revs
Owners: none

Refactor .gitattributes for better file management
  .gitattributes
Owners: none

Update example environment variables in .env.example
  .env.example
Owners: none

Add environment loader and validator module
  world_engine/utils/env.py
Owners: @wde-maintainers

Enhance .editorconfig for consistent coding styles
  .editorconfig
Owners: none

Refine pre-commit configuration and comments
  .pre-commit-config.yaml
Owners: none

Refactor DVC pipeline stages and enhance documentation
  dvc.yaml
Owners: none

Revise .dvcignore with comprehensive documentation
  .dvcignore
Owners: none

Add dvc.lock for dependency management
  dvc.lock
Owners: none

Add run manifest writer for WDE provenance
  scripts/write_run_manifest.py
Owners: none

Enhance .dockerignore with comprehensive exclusions
  .dockerignore
Owners: none

Refine .dockerignore for production readiness
  .dockerignore
Owners: none

Add .dockerignore-light for Docker image optimization
  .dockerignore-light
Owners: none

Update Makefile title and add Docker commands
  Makefile
Owners: @devops-leads, @wde-maintainers

Add development Dockerfile for WDE
  Dockerfile.dev
Owners: none

Update Makefile with additional commands and fixes
  Makefile
Owners: @devops-leads, @wde-maintainers

Bump version to 0.3.0 and update dependencies
  pyproject.toml
Owners: none

Add requirements.txt with project dependencies
  requirments.txt
Owners: none

Add requirements for Kaggle runtime environment
  requirements-kaggle.txt
Owners: none

Improve PR Labeler workflow with new features
  .github/workflows/pr_labeler.yml
Owners: @devops-leads, @wde-maintainers

Refactor release workflow with improved clarity and functionality
  .github/workflows/release.yml
Owners: @devops-leads, @wde-maintainers

Update pr_title_lint.yml
  .github/workflows/pr_title_lint.yml
Owners: @devops-leads, @wde-maintainers

Update pr_labeler.yml
  .github/workflows/pr_labeler.yml
Owners: @devops-leads, @wde-maintainers

Update notebook_publish.yml
  .github/workflows/notebook_publish.yml
Owners: @devops-leads, @wde-maintainers

Update kaggle_notebook_check.yml
  .github/workflows/kaggle_notebook_check.yml
Owners: @devops-leads, @wde-maintainers

Update datasets_registry_gate.yml
  .github/workflows/datasets_registry_gate.yml
Owners: @devops-leads, @wde-maintainers

Update dataset-intake-validate.yml
  .github/workflows/dataset-intake-validate.yml
Owners: @devops-leads, @wde-maintainers

Update README.md
  .github/workflows/README.md
Owners: @devops-leads, @wde-maintainers

.github/CODEOWNERS:

# Core pipeline stages
/world_engine/ingest.py           @data-eng-leads @wde-maintainers
/world_engine/detect.py           @cv-ml-leads @wde-maintainers
/world_engine/evaluate.py         @geo-ml-leads @wde-maintainers
/world_engine/verify.py           @ethics-safety-leads @ml-research-leads @wde-maintainers
/world_engine/report.py           @ethics-safety-leads @docs-leads @wde-maintainers
/world_engine/utils/**            @wde-maintainers

# Models & uncertainty
/world_engine/models/**           @ml-research-leads @wde-maintainers

# Ethics guardrails
/world_engine/ethics_guardrails.py  @ethics-safety-leads @wde-maintainers

# Configs & registry
/configs/**                       @data-eng-leads @wde-maintainers
/datasets.md                      @data-eng-leads @ethics-safety-leads @wde-maintainers

# Notebooks (Kaggle, demos)
/notebooks/**                     @notebooks-leads @wde-maintainers

# Docs
/docs/**                          @docs-leads @ethics-safety-leads
/README.md                        @docs-leads

# CI/CD & DevOps
/.github/**                       @devops-leads @wde-maintainers
/Makefile                         @devops-leads @wde-maintainers
/Dockerfile                       @devops-leads @wde-maintainers
