Repository bartytime4life/World-Discovery-Engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-eng-leads, @wde-maintainers, @cv-ml-leads, @geo-ml-leads, @ethics-safety-leads, @ml-research-leads, @docs-leads, @notebooks-leads, @devops-leads

.github/CODEOWNERS:

# Core pipeline stages
/world_engine/ingest.py           @data-eng-leads @wde-maintainers
/world_engine/detect.py           @cv-ml-leads @wde-maintainers
/world_engine/evaluate.py         @geo-ml-leads @wde-maintainers
/world_engine/verify.py           @ethics-safety-leads @ml-research-leads @wde-maintainers
/world_engine/report.py           @ethics-safety-leads @docs-leads @wde-maintainers
/world_engine/utils/**            @wde-maintainers

# Models & uncertainty
/world_engine/models/**           @ml-research-leads @wde-maintainers

# Ethics guardrails
/world_engine/ethics_guardrails.py  @ethics-safety-leads @wde-maintainers

# Configs & registry
/configs/**                       @data-eng-leads @wde-maintainers
/datasets.md                      @data-eng-leads @ethics-safety-leads @wde-maintainers

# Notebooks (Kaggle, demos)
/notebooks/**                     @notebooks-leads @wde-maintainers

# Docs
/docs/**                          @docs-leads @ethics-safety-leads
/README.md                        @docs-leads

# CI/CD & DevOps
/.github/**                       @devops-leads @wde-maintainers
/Makefile                         @devops-leads @wde-maintainers
/Dockerfile                       @devops-leads @wde-maintainers

Revise README for models directory
  world_engine/models/README.md
Owners: @ml-research-leads, @wde-maintainers

Revise architecture documentation for clarity and detail
  world_engine/models/ARCHITECURE.md
Owners: @ml-research-leads, @wde-maintainers

Add README for utils directory in WDE
  world_engine/utils/README.md
Owners: @wde-maintainers

Add text utilities for OCR and entity extraction
  world_engine/utils/text_utils.py
Owners: @wde-maintainers

Refactor text utilities for improved features and clarity
  world_engine/utils/text_utils.py
Owners: @wde-maintainers

Refactor logging utilities with improved structure and features
  world_engine/utils/logging_utils.py
Owners: @wde-maintainers

Enhance CLI with logging controls and config helpers
  world_engine/cli.py
Owners: none

Enhance documentation and design goals in __init__.py
  world_engine/__init__.py
Owners: none

Revise WDE package metadata and documentation
  src/wde/__init__.py
Owners: none

Add entry point for World Discovery Engine CLI
  world_engine/__main__.py
Owners: none

Update README.md
  README.md
Owners: @docs-leads

Create wde_icon_light.svg
  assets/wde_icon_light.svg
Owners: none

Create wde_icon_dark.svg
  assets/wde_icon_dark.svg
Owners: none

Update README.md
  README.md
Owners: @docs-leads

Update ARCHITECTURE.md
  ARCHITECTURE.md
Owners: none

Update ARCHITECTURE.md
  ARCHITECTURE.md
Owners: none
