Repository bartytime4life/World-Discovery-Engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-eng-leads, @wde-maintainers, @cv-ml-leads, @geo-ml-leads, @ethics-safety-leads, @ml-research-leads, @docs-leads, @notebooks-leads, @devops-leads

.github/CODEOWNERS:

# Core pipeline stages
/world_engine/ingest.py           @data-eng-leads @wde-maintainers
/world_engine/detect.py           @cv-ml-leads @wde-maintainers
/world_engine/evaluate.py         @geo-ml-leads @wde-maintainers
/world_engine/verify.py           @ethics-safety-leads @ml-research-leads @wde-maintainers
/world_engine/report.py           @ethics-safety-leads @docs-leads @wde-maintainers
/world_engine/utils/**            @wde-maintainers

# Models & uncertainty
/world_engine/models/**           @ml-research-leads @wde-maintainers

# Ethics guardrails
/world_engine/ethics_guardrails.py  @ethics-safety-leads @wde-maintainers

# Configs & registry
/configs/**                       @data-eng-leads @wde-maintainers
/datasets.md                      @data-eng-leads @ethics-safety-leads @wde-maintainers

# Notebooks (Kaggle, demos)
/notebooks/**                     @notebooks-leads @wde-maintainers

# Docs
/docs/**                          @docs-leads @ethics-safety-leads
/README.md                        @docs-leads

# CI/CD & DevOps
/.github/**                       @devops-leads @wde-maintainers
/Makefile                         @devops-leads @wde-maintainers
/Dockerfile                       @devops-leads @wde-maintainers

Update ARCHITECTURE.md
  .github/workflows/ARCHITECTURE.md
Owners: @devops-leads, @wde-maintainers

Update ARCHITECTURE.md
  .github/workflows/ARCHITECTURE.md
Owners: @devops-leads, @wde-maintainers

Update README.md
  .github/workflows/README.md
Owners: @devops-leads, @wde-maintainers

Update README.md
  .github/workflows/README.md
Owners: @devops-leads, @wde-maintainers

Update config_update.yml
  .github/ISSUE_TEMPLATE/config_update.yml
Owners: @devops-leads, @wde-maintainers

Create performance_update.yml
  .github/ISSUE_TEMPLATE/performance_update.yml
Owners: @devops-leads, @wde-maintainers

Create README.md
  .github/ISSUE_TEMPLATE/README.md
Owners: @devops-leads, @wde-maintainers

Create security_report.yml
  .github/ISSUE_TEMPLATE/security_report.yml
Owners: @devops-leads, @wde-maintainers

Create SECURITY.md
  .github/ISSUE_TEMPLATE/SECURITY.md
Owners: @devops-leads, @wde-maintainers

Create bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @devops-leads, @wde-maintainers

Create task_tracking.yml
  .github/ISSUE_TEMPLATE/task_tracking.yml
Owners: @devops-leads, @wde-maintainers

Create feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @devops-leads, @wde-maintainers

Create ARCHITECTURE.md
  .github/ISSUE_TEMPLATE/ARCHITECTURE.md
Owners: @devops-leads, @wde-maintainers

Update wde_kaggle.ipynb
  notebooks/wde_kaggle.ipynb
Owners: @notebooks-leads, @wde-maintainers

Revise WDE Kaggle Starter notebook structure and content
  notebooks/WDE_Kaggle_Starter.ipynb
Owners: @notebooks-leads, @wde-maintainers

Update fmt.Println message from 'Hello' to 'Goodbye'
  notebooks/wde_kaggle.ipynb
Owners: @notebooks-leads, @wde-maintainers

Create bug report issue template
  notebooks/wde_kaggle.ipynb
Owners: @notebooks-leads, @wde-maintainers

Add WDE Kaggle notebook with pipeline stages
  notebooks/wde_kaggle.ipynb
Owners: @notebooks-leads, @wde-maintainers

Revise kaggle.yaml for WDE notebook configuration
  notebooks/kaggle.yaml
Owners: @notebooks-leads, @wde-maintainers

Revise README for notebook guidelines and details
  notebooks/README.md
Owners: @notebooks-leads, @wde-maintainers

Add README for utility scripts in WDE
  scripts/README.md
Owners: none

Add pipeline runner script for WDE
  scripts/run_pipeline.sh
Owners: none

Add default configuration for World Discovery Engine
  src/wde/configs/default.yaml
Owners: none

Enhance CLI with new features and usage examples
  world_engine/cli.py
Owners: none

Add dataset fetching script with modular options
  scripts/fetch_datasets.sh
Owners: none

Add Kaggle export script for WDE notebook
  scripts/export_kaggle.sh
Owners: none

Add artifact validation script for WDE pipelines
  scripts/validate_artifacts.py
Owners: none

Add profiling and performance tools for WDE
  scripts/profiling_tools.py
Owners: none

Add report generation script
  scripts/generate_reports.sh
Owners: none

Enhance documentation and logging in run_pipeline.sh
  scripts/run_pipeline.sh
Owners: none

Add architecture documentation for World Discovery Engine
  scripts/ARCHITECTURE.md
Owners: none

Upgrade CLI with new features and improved documentation
  world_engine/cli.py
Owners: none

Refactor VLM Caption Wrapper with comprehensive documentation
  world_engine/models/vlm_caption.py
Owners: @ml-research-leads, @wde-maintainers

Enhance UncertaintyBGNN with edge weights and LPE
  world_engine/models/uncertainty_bgnn.py
Owners: @ml-research-leads, @wde-maintainers

Add edge_weight support to GCN and GAT layers
  world_engine/models/gnn_fusion.py
Owners: @ml-research-leads, @wde-maintainers

Refactor causal_pag.py with new features and improvements
  world_engine/models/causal_pag.py
Owners: @ml-research-leads, @wde-maintainers

Enhance baselines.py with updates and new features
  world_engine/models/baselines.py
Owners: @ml-research-leads, @wde-maintainers

Update print statement from 'Hello' to 'Goodbye'
  world_engine/models/anomaly_detector.py
Owners: @ml-research-leads, @wde-maintainers

Update fmt.Println to output 'Goodbye World'
  world_engine/models/ade_fingerprint.py
Owners: @ml-research-leads, @wde-maintainers

Upgrade models package with unified import and factories
  world_engine/models/__init__.py
Owners: @ml-research-leads, @wde-maintainers
